name: Swift
on: [pull_request]

jobs:
  test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: latest-stable
      - name: Run tests
        run: swift test --enable-code-coverage
      - name: Generate coverage report
        run: |
          CODECOV_DIR=$(find .build -name 'codecov' -type d | head -1)

          xcrun llvm-profdata merge -sparse "$CODECOV_DIR"/*.profraw -o default.profdata
          PROFDATA_PATH="default.profdata"

          ALL_OBJECT_FILES=$(find .build -name "*.o" -type f)
          SOURCE_OBJECT_FILES=$(echo "$ALL_OBJECT_FILES" | grep "MarkdownSyntaxTests.build")

          xcrun llvm-cov report -instr-profile $PROFDATA_PATH $SOURCE_OBJECT_FILES
          xcrun llvm-cov export -format="lcov" -instr-profile $PROFDATA_PATH $SOURCE_OBJECT_FILES >> lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.4.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
